h1{ color: lab(67.41% 31.71 72.58);  
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 12);
    line-height: 100px;
    text-shadow: 8px 8px 12px grey;
}

h1:hover{
    background-color: rgb(15, 182, 248);
    color: rgb(10, 10, 10);
}


   p{ font-weight: bold; 
    font-style: italic;
   }

   img{ width: 330px;
    height: 280px;
    border-radius: 40px;

   }
img:hover{transform: scale(1.1);
          transition: all;
}
   













