form{

background-color: aqua;
width: 50%;
margin: auto;
padding: 40px;
border-radius: 30px;
box-shadow: 0 0 10px cadetblue;
color: rgb(8, 8, 8);

}

legend{

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 20px rgb(123, 125, 126);
    margin-bottom: 20px;
}


input[type="text"],input[type="email"],input[type="password"],
input[type="tel"],input[type="number"],input[type="date"],
input[type="datetime-local"],select{

    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
    box-shadow: 0 0 10px rgb(230, 19, 4);
    margin-top: 10px;


}


textarea{

    border-radius: 10px;
}

button{
 background-color: rgb(48, 212, 7);
 padding: 10px;
 border-radius: 20px;
 
}














































