h1{

text-align: center;
font-size: 50px;
text-decoration: underline;

}



#shipping{

    color: rgb(212, 49, 8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 4px 4px 8px grey;

}

#vip{

background-color: cadetblue;
margin: 40px;
padding: 30px;
border-radius: 25px;
color: white;

}

#vip h3{

    text-align: center;
    font-size: 35px;
}

#vip:hover{


    background-color: rgb(202, 140, 4);
    
}


#surprises{
display: flex;
gap: 40px;
margin: 40px;

}

#courses{

    margin: 40px;
    padding: 50px;
    border-radius: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    gap: 40px;

}

h2{
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}






